<div class="row">
  <div class="col-md-12">
    <h1>Adding an employee for <%= @company.name %></h1>

    <%= simple_form_for [@company, @employee], html: { class: 'form-horizontal' } do |form| %>
      <%= form.input :name %>
      <%= form.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
