<% @offers.each do |offer| %>

  <div class="col-sm-6 col-md-4 pull-left">
    <div class="thumbnail">
      <img src="http://placehold.it/500x150" alt="...">
      <div class="caption">
        <h3><%= offer.offer_title %></h3>
        <p><%= offer.description %><br>
        <%= offer.price %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> 
        <p>Active: <%= offer.active %></p>
      </div>
    </div>
  </div>

<% end %>